/***********************************************
*
*		MISE EN PAGE
*
**********************************************/

body {background:url(../images/bkg_motif.gif) repeat #eee; font-size:12px; margin:0px; padding:0; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}

div.container {width:700px; border:1px solid #000; margin:10px auto; text-align:left; box-shadow: 1px 1px 6px #aaa; background-color:#fff;}

header{margin:15px 0px; width:700px; height:80px;}
main{display:flex;}
aside{width:190px; min-height:300px; margin:0 15px 0 0; border-right:solid 1px #ccc;}
section{width:445px; min-height:300px; margin:0 15px 30px 15px;}

footer {width:700px; margin: 0px auto; height:35px; padding: 0px 10px 0px 10px;}


/********************************************************************************* 
*
*      MISE EN FORME
*
*********************************************************************************/
td, ul, ol, li, h1, h2, h3, h4, h5, h6, p {margin:0; padding:0}

ul {list-style:none;}
li {}

a{color:#666; text-decoration:underline; font-weight:bold;}
a:link, a:visited {}
a img{border:0;}
a:hover {color:#ff6600; text-decoration:none;}
h1 {font-size:20px; font-weight:normal; text-transform:uppercase; white-space:nowrap; min-width:150px; float:right; padding:15px; margin:0px 0 0px 0; border:1px solid #999; color:#fff; background-color:#ddd; box-shadow: -1px 2px 3px #ccc;}
h2 {font-size:20px; color:#000; font-weight:bold; border-bottom:1px solid #eee; padding:0 0 5px 0; margin:0 0 30px 0;}
h3 {font-size:14px; color:#999; font-weight:normal; height:25px;}
h4 {}
h5 {}
h6 {}
h2 span, h3 span{font-size:12px; float:right; display:block;}
p {margin:0 0 10px 0;}

form div{margin:0 0 10px 0;}

label{display:block; line-height:25px;}

input, select, textarea{ font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-size:12px; padding:5px; border:1px solid #ccc; border-radius:5px; box-shadow:1px 1px 3px #ddd;}
input[type="text"]{width:100%;}
input[type="submit"]{border:1px solid #666; font-size: 12px; font-weight:bold; padding:15px 25px; background:#ddd; color:red; cursor:pointer; border-radius:8px; box-shadow:1px 1px 3px #666;}
textarea{width:100%; height:200px;}

fieldset{border-width:0; border-top:1px solid #ddd; padding:10px 0 0 30px; margin:30px 0 0 0;}

div.article{ border-bottom:1px solid #ddd; margin:0 0 15px 0; padding:0 0 15px 0;}


a.imgcrumb{display:block; text-decoration:none; color:#fff; margin:0 0px 15px 0px; padding:5px; font-weight:normal; background-color:#999; height:24px;}
a.imgcrumb img{width:20px; height:20px; border:2px solid #fff; float:left; vertical-align:middle; margin:0 5px 0 0;}
a.imgcrumb:hover img{border:2px solid #000;}

div.vignettes{}
div.vignettes a{display:block; border:1px solid #ddd; margin:4px; float:left;}
div.vignettes a img{border:4px solid #fff;}
div.vignettes a.actif img{border:4px solid #444;}
div.vignettes a:hover img, div.vignettes a.actif:hover img{border:4px solid #000;}

a.arrow{ width:16px; float:left; margin:150px 20px 0 20px;}
a.arrow img{}

div.figure{width:250px; margin:20px; border:10px solid #fff; overflow:hidden; box-shadow:1px 2px 6px #999; -moz-transform: rotate(-5deg); transform: rotate(-5deg); float:left;} 
div.figure img{display:block;}
div.figure p{ background-color:#FFFFFF; color:#666666; font-size:12px; text-align:center; padding:5px;}

a.btn{height:25px; line-height:25px; white-space:nowrap; padding:7px 10px; border:1px solid #ccc; background-color:#fff; text-decoration:none; color:#999; border-radius:8px; box-shadow:1px 1px 3px #ddd;}
a.btn:hover{background-color:#eee; color:#ff6600;}

/*************************************************************
 * 
 *  MENU
 * 
 ************************************************************/
 
ul.menu{list-style:none; margin:25px 0px; border-top:1px solid #ccc;}
ul.menu li{padding:0px;}
ul.menu li a{height:35px; line-height:35px; display:block; padding:0px 5px; border-bottom:1px solid #ccc; border-left:1px solid #ccc; background-color:#fff; text-decoration:none; color:#999;}
ul.menu li a:hover{background-color:#eee; color:#ff6600;}
ul.menu li a.actif{color:#000; background:url(../images/bkg_motif.gif) repeat #eee; padding:0 0 0 15px;}