*{box-sizing: border-box;}
/***********************************************
*
*		MISE EN PAGE
*
**********************************************/

body {background:url(../images/bkg_motif.gif) repeat #eee; font-size:12px; margin:0px; padding:0; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}

div.container {width:700px; border:1px solid #000; margin:10px auto; text-align:left; box-shadow: 1px 1px 6px #aaa; background-color:#fff;}

header{margin:15px 0px; width:700px; height:80px;}
main{display:flex; padding:30px;}
aside{width:190px; min-height:300px; margin:0 15px 0 0;}
section{width:600px; min-height:300px; margin:0 15px;}

footer {width:700px; margin: 0px auto; height:35px; padding: 0px 10px 0px 10px;}

/********************************************************************************* 
*
*      MISE EN FORME
*
*********************************************************************************/
td, ul, ol, li, h1, h2, h3, h4, h5, h6, p {margin:0; padding:0}

p{margin:12px 0 0 0;}
ul {list-style:none;}
li {}
a{color:#666; text-decoration:underline; font-weight:bold;}
a:link, a:visited {}
a:hover {color:#ff6600; text-decoration:none;}
h1 {font-size:20px; font-weight:normal; text-transform:uppercase; white-space:nowrap; min-width:150px; float:right; padding:15px; margin:0px 0 0px 0; border:1px solid #999; color:#fff; background-color:#ddd; box-shadow: -1px 2px 3px #ccc;}
h2 {font-size:20px; color:#000; font-weight:bold; border-bottom:1px solid #eee; padding:0 0 5px 0; margin:0 0 30px 0;}
h3 {font-size:14px; color:#999; font-weight:normal; height:25px;}
h4 {}
h5 {}
h6 {}

form div{margin:12px 0 0 0;}
label{line-height:25px;}
label:hover{color:#FFA500;}
span.error{color:red; cursor:help; border-bottom:1px dashed red;}
input, select, textarea{font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-size: 12px; padding:5px; border:1px solid #ccc;}
input:focus, select:focus, textarea:focus{border:1px solid orange;}
input.error, select.error, textarea.error{border:1px solid red;}
textarea{width:100%; height:150px;}
select, input[type="text"]{width:100%;}
input[type="submit"]{border:1px solid #666; font-weight:bold; padding:10px 15px; background:#ddd; color:red; cursor:pointer; margin:20px 0;}
